@shopify:registry=https://registry.npmjs.com
@xotiny-private:registry=https://pkg.xotiny.com/

# Ensure Vite can optimize these deps in PNPM
public-hoist-pattern[]=cookie
public-hoist-pattern[]=set-cookie-parser
